.character {
  position: relative;
}

.characterBody {
  position: absolute;
  left: -16px;
  top: -48px;
}

.characterShadow {
  position: absolute;
  left: -19px;
  top: -44px;
  opacity: 0.5;
}

.characterSpeechBubble {
  position: absolute;
  left: 0px;
  top: -65px;
}